#LANGFUSE_KEYS
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=
TELEMETRY_ENABLED=false
#LANGFUSE_DEBUG=True

# REDIS SETTINGS
REDIS_URL=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASS=
REDIS_DB_DEV=
REDIS_DB_LOCALE=

# MODEL SETTINGS
OPENAI_BASE_URL=
OPENAI_API_KEY=
CHAT_MODEL_NAME=

# EMBEDDINGS SETTINGS
EMBEDDINGS_URL=
EMBEDDINGS_MODEL=





